In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

stock_data_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\smoothed_csv'

# List all files in the directory
all_files = os.listdir(stock_data_path)

# Filter the list to only include files that match the naming pattern
matching_files = [f for f in all_files if f.endswith('smoothed.csv')]

# Print the count of matching files
print(len(matching_files))

30

#### Loop through each file in the directory.
#### For each file, read the CSV into a pandas DataFrame.
#### Filter the rows based on the date range.
#### Rename the columns.
#### Save the modified DataFrame back to the same CSV file.

In [11]:
import os
import pandas as pd

stock_data_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\smoothed_csv'
output_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\smoothed_csv\smoothed_preprocessed'

# Ensure the output directory exists, if not, create it
if not os.path.exists(output_path):
    os.makedirs(output_path)

# Define the date range
start_date = '2021-11-24 14:00:00'
end_date = '2023-08-31 15:00:00'

# Loop through each file in the directory
for filename in os.listdir(stock_data_path):
    if filename.endswith('smoothed.csv'):
        filepath = os.path.join(stock_data_path, filename)
        
        # Read the CSV into a pandas DataFrame
        df = pd.read_csv(filepath, parse_dates=['Time'])
        
        # Filter rows based on the date range
        df = df[(df['Time'] >= start_date) & (df['Time'] <= end_date)]
        
        # Rename the columns
        df.columns = ['date', 'open', 'high', 'low', 'close', 'volume', 'tic']
        
        # Save the modified DataFrame to the new directory
        output_filepath = os.path.join(output_path, filename)
        df.to_csv(output_filepath, index=False)

print("Files have been saved to the new directory!")

Files have been saved to the new directory!

In [12]:
df

                    date     open     high      low       close   volume tic
124  2021-11-24 14:00:00  200.275  200.447  199.045  199.784352   633438   V
125  2021-11-24 15:00:00  200.492  201.049  200.298  199.191190   421083   V
126  2021-11-26 09:00:00  190.763  194.061  189.959  195.591475  2564867   V
127  2021-11-26 10:00:00  193.906  194.457  192.781  194.229475   900348   V
128  2021-11-26 11:00:00  194.961  194.990  193.807  194.384595   669186   V
...                  ...      ...      ...      ...         ...      ...  ..
3220 2023-08-31 11:00:00  247.660  247.660  246.900  247.137444   202882   V
3221 2023-08-31 12:00:00  246.756  246.917  246.580  246.868076   141368   V
3222 2023-08-31 13:00:00  246.270  246.635  246.186  246.694182   148073   V
3223 2023-08-31 14:00:00  246.655  247.100  246.530  246.619650   150414   V
3224 2023-08-31 15:00:00  246.070  246.155  245.590  245.920134   233902   V

[3101 rows x 7 columns]

In [13]:
# Define the date range and business hours
start_date = '2021-11-24 14:00:00'
end_date = '2023-08-31 15:00:00'
business_hours = range(9, 16)  # 9 to 15 inclusive

# Generate a complete date range for the given period
full_date_range = pd.date_range(start=start_date, end=end_date, freq='B')
full_date_range

DatetimeIndex(['2021-11-24 14:00:00', '2021-11-25 14:00:00',
               '2021-11-26 14:00:00', '2021-11-29 14:00:00',
               '2021-11-30 14:00:00', '2021-12-01 14:00:00',
               '2021-12-02 14:00:00', '2021-12-03 14:00:00',
               '2021-12-06 14:00:00', '2021-12-07 14:00:00',
               ...
               '2023-08-18 14:00:00', '2023-08-21 14:00:00',
               '2023-08-22 14:00:00', '2023-08-23 14:00:00',
               '2023-08-24 14:00:00', '2023-08-25 14:00:00',
               '2023-08-28 14:00:00', '2023-08-29 14:00:00',
               '2023-08-30 14:00:00', '2023-08-31 14:00:00'],
              dtype='datetime64[ns]', length=462, freq='B')

#### Loop through each file in the new directory.
#### For each file, read the CSV into a pandas DataFrame.
#### Set the DataFrame's index to the 'date' column.
#### Generate a complete date range for the given period, considering only working days and the hours between 9 and 15.
#### Reindex the DataFrame using this complete date range.
#### Interpolate the missing data.
#### Save the modified DataFrame back to the same CSV file.

In [16]:
import os
import pandas as pd
import numpy as np

output_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_preprocessed'

# Define the date range and business hours
start_date = '2021-11-24 14:00:00'
end_date = '2023-08-31 15:00:00'
business_hours = range(9, 16)  # 9 to 15 inclusive

# Generate a complete date range for the given period
full_date_range = pd.date_range(start=start_date, end=end_date, freq='B')
hourly_date_range = []
for i, date in enumerate(full_date_range):
    if i == 0:
        business_hours_first = range(14, 16)
        for hour in business_hours_first:
            hourly_date_range.append(pd.Timestamp(date.year, date.month, date.day, hour))        
    else:
        for hour in business_hours:
            hourly_date_range.append(pd.Timestamp(date.year, date.month, date.day, hour))

# Loop through each file in the directory
for filename in os.listdir(output_path):
    if filename.endswith('smoothed.csv'):
        filepath = os.path.join(output_path, filename)
        
        # Read the CSV into a pandas DataFrame
        df = pd.read_csv(filepath, parse_dates=['date'])
        
        # Set the DataFrame's index to the 'date' column
        df.set_index('date', inplace=True)
        
        # Reindex the DataFrame using the complete date range
        df = df.reindex(hourly_date_range)
        
        # Interpolate missing data
        df.interpolate(method='time', inplace=True)
        
        # Reset the index before saving
        df.reset_index(inplace=True)
        
        # Save the modified DataFrame back to the same CSV file
        df.to_csv(filepath, index=False)

print("Files have been updated with interpolated data!")

Files have been updated with interpolated data!

In [18]:
df

,date,open,high,low,close,volume,tic
0,2021-11-24 14:00:00,200.275000,200.447000,199.045000,199.784352,6.334380e+05,V
1,2021-11-24 15:00:00,200.492000,201.049000,200.298000,199.191190,4.210830e+05,V
2,2021-11-25 09:00:00,196.322429,198.054143,195.867000,197.648455,1.339848e+06,NaN
3,2021-11-25 10:00:00,196.090786,197.887762,195.620833,197.562748,1.390890e+06,NaN
4,2021-11-25 11:00:00,195.859143,197.721381,195.374667,197.477040,1.441933e+06,NaN
...,...,...,...,...,...,...,...
3224,2023-08-31 11:00:00,247.660000,247.660000,246.900000,247.137444,2.028820e+05,V
3225,2023-08-31 12:00:00,246.756000,246.917000,246.580000,246.868076,1.413680e+05,V
3226,2023-08-31 13:00:00,246.270000,246.635000,246.186000,246.694182,1.480730e+05,V
3227,2023-08-31 14:00:00,246.655000,247.100000,246.530000,246.619650,1.504140e+05,V
3228,2023-08-31 15:00:00,246.070000,246.155000,245.590000,245.920134,2.339020e+05,V

In [19]:
import os
import pandas as pd

output_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_preprocessed'

# Loop through each file in the directory
for filename in os.listdir(output_path):
    if filename.endswith('smoothed.csv'):
        filepath = os.path.join(output_path, filename)
        
        # Read the CSV into a pandas DataFrame
        df = pd.read_csv(filepath)
        
        # Get the number of rows
        num_rows = df.shape[0]
        
        # Print the filename and the number of rows
        print(f"{filename}: {num_rows} rows")

AAPL_smoothed.csv: 3229 rows
ABBV_smoothed.csv: 3229 rows
ABT_smoothed.csv: 3229 rows
AMD_smoothed.csv: 3229 rows
AMZN_smoothed.csv: 3229 rows
BABA_smoothed.csv: 3229 rows
BA_smoothed.csv: 3229 rows
CRM_smoothed.csv: 3229 rows
C_smoothed.csv: 3229 rows
DIS_smoothed.csv: 3229 rows
GOOGL_smoothed.csv: 3229 rows
GS_smoothed.csv: 3229 rows
JPM_smoothed.csv: 3229 rows
KO_smoothed.csv: 3229 rows
MA_smoothed.csv: 3229 rows
META_smoothed.csv: 3229 rows
MO_smoothed.csv: 3229 rows
MSFT_smoothed.csv: 3229 rows
MU_smoothed.csv: 3229 rows
NFLX_smoothed.csv: 3229 rows
NKE_smoothed.csv: 3229 rows
NVDA_smoothed.csv: 3229 rows
PEP_smoothed.csv: 3229 rows
PFE_smoothed.csv: 3229 rows
PG_smoothed.csv: 3229 rows
PM_smoothed.csv: 3229 rows
TSLA_smoothed.csv: 3229 rows
TSM_smoothed.csv: 3229 rows
T_smoothed.csv: 3229 rows
V_smoothed.csv: 3229 rows

#### Detect and delete holydays

In [20]:
import os
import pandas as pd

output_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_preprocessed'
ti_abt_path = r"C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\Generated Sentiment Data in FinRL\stock_data\C.csv"

# Read the ti_ABT.csv file
df_ti_abt = pd.read_csv(ti_abt_path, parse_dates=['Time'])
dates_ti_abt = set(df_ti_abt['Time'])

# Assuming you want to check the first CSV file in the output_path directory
first_csv_file = [f for f in os.listdir(output_path) if f.endswith('smoothed.csv')][0]
df_output = pd.read_csv(os.path.join(output_path, first_csv_file), parse_dates=['date'])
dates_output = set(df_output['date'])

# Determine which dates are in the output CSV but not in the ti_ABT.csv
missing_dates = dates_output - dates_ti_abt

# Loop through each file in the directory
for filename in os.listdir(output_path):
    if filename.endswith('smoothed.csv'):
        filepath = os.path.join(output_path, filename)
        
        # Read the CSV into a pandas DataFrame
        df = pd.read_csv(filepath, parse_dates=['date'])
        
        # Filter out rows with the missing dates
        df = df[~df['date'].isin(missing_dates)]
        
        # Save the modified DataFrame back to the same CSV file
        df.to_csv(filepath, index=False)

print("Rows with missing dates have been removed from the CSV files!")

Rows with missing dates have been removed from the CSV files!

In [21]:
df

                    date     open     high      low       close     volume tic
0    2021-11-24 14:00:00  200.275  200.447  199.045  199.784352   633438.0   V
1    2021-11-24 15:00:00  200.492  201.049  200.298  199.191190   421083.0   V
9    2021-11-26 09:00:00  190.763  194.061  189.959  195.591475  2564867.0   V
10   2021-11-26 10:00:00  193.906  194.457  192.781  194.229475   900348.0   V
11   2021-11-26 11:00:00  194.961  194.990  193.807  194.384595   669186.0   V
...                  ...      ...      ...      ...         ...        ...  ..
3224 2023-08-31 11:00:00  247.660  247.660  246.900  247.137444   202882.0   V
3225 2023-08-31 12:00:00  246.756  246.917  246.580  246.868076   141368.0   V
3226 2023-08-31 13:00:00  246.270  246.635  246.186  246.694182   148073.0   V
3227 2023-08-31 14:00:00  246.655  247.100  246.530  246.619650   150414.0   V
3228 2023-08-31 15:00:00  246.070  246.155  245.590  245.920134   233902.0   V

[3103 rows x 7 columns]

#### Loop through each file in the output_path directory.
#### For each file, read the CSV into a pandas DataFrame.
#### Extract the ticker name from the filename.
#### Add a new column "tic" to the DataFrame and set its value to the extracted ticker name.
#### Save the modified DataFrame back to the same CSV file.

In [22]:
import os
import pandas as pd

output_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_preprocessed'

# Loop through each file in the directory
for filename in os.listdir(output_path):
    if filename.endswith('smoothed.csv'):
        filepath = os.path.join(output_path, filename)
        
        # Read the CSV into a pandas DataFrame
        df = pd.read_csv(filepath)
        
        # Extract the ticker name from the filename (assuming it's the part before "smoothed.csv")
        tic_name = filename.replace('_smoothed.csv', '').strip()
        
        # Add a new column "tic" and set its value to the extracted ticker name
        df['tic'] = tic_name
        
        # Save the modified DataFrame back to the same CSV file
        df.to_csv(filepath, index=False)

print("Added 'tic' column to the CSV files!")

Added 'tic' column to the CSV files!

In [23]:
df

,date,open,high,low,close,volume,tic
0,2021-11-24 14:00:00,200.275,200.447,199.045,199.784352,633438.0,V
1,2021-11-24 15:00:00,200.492,201.049,200.298,199.191190,421083.0,V
2,2021-11-26 09:00:00,190.763,194.061,189.959,195.591475,2564867.0,V
3,2021-11-26 10:00:00,193.906,194.457,192.781,194.229475,900348.0,V
4,2021-11-26 11:00:00,194.961,194.990,193.807,194.384595,669186.0,V
...,...,...,...,...,...,...,...
3098,2023-08-31 11:00:00,247.660,247.660,246.900,247.137444,202882.0,V
3099,2023-08-31 12:00:00,246.756,246.917,246.580,246.868076,141368.0,V
3100,2023-08-31 13:00:00,246.270,246.635,246.186,246.694182,148073.0,V
3101,2023-08-31 14:00:00,246.655,247.100,246.530,246.619650,150414.0,V
3102,2023-08-31 15:00:00,246.070,246.155,245.590,245.920134,233902.0,V

#### Loop through each file in the output_path directory.
#### For each file, read the CSV into a pandas DataFrame and append it to a list.
#### Concatenate all the DataFrames in the list.
#### Sort the resulting DataFrame by the 'date' column.
#### Reset the index of the DataFrame to create a new index based on the sorted order.
#### Save the merged DataFrame to a new CSV file.

In [24]:
import os
import pandas as pd

output_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_preprocessed'
merged_file_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\merged_data.csv'

dfs = []  # List to store individual DataFrames

# Loop through each file in the directory
for filename in os.listdir(output_path):
    if filename.endswith('smoothed.csv'):
        filepath = os.path.join(output_path, filename)
        
        # Read the CSV into a pandas DataFrame and append to the list
        df = pd.read_csv(filepath, parse_dates=['date'])
        dfs.append(df)

# Concatenate all the DataFrames in the list
merged_df = pd.concat(dfs, ignore_index=True)

# Sort the DataFrame by the 'date' column
merged_df = merged_df.sort_values(by='date')

# Create a mapping of unique dates to their corresponding index
date_mapping = {date: idx for idx, date in enumerate(merged_df['date'].unique())}

# Map the 'date' column to the date_mapping to get the new index
merged_df['index'] = merged_df['date'].map(date_mapping)

# Set the new index for the DataFrame
merged_df.set_index('index', inplace=True, drop=True)

# Save the merged DataFrame to a new CSV file
merged_df.to_csv(merged_file_path, index=True)

print(f"Merged data saved to {merged_file_path}!")

Merged data saved to C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\merged_data.csv!

In [25]:
merged_df

,date,open,high,low,close,volume,tic
index,,,,,,,
0,2021-11-24 14:00:00,159.380,159.703,158.862,159.233753,3513469.0,AAPL
0,2021-11-24 14:00:00,47.758,47.831,47.607,47.932297,686904.0,PFE
0,2021-11-24 14:00:00,38.575,38.598,38.350,38.388720,295661.0,MO
0,2021-11-24 14:00:00,340.290,341.370,339.000,339.816517,695874.0,META
0,2021-11-24 14:00:00,141.959,142.221,141.802,142.102489,230089.0,PG
...,...,...,...,...,...,...,...
3102,2023-08-31 15:00:00,154.560,154.670,154.450,154.635033,220515.0,PG
3102,2023-08-31 15:00:00,96.320,96.490,96.000,96.432804,145544.0,PM
3102,2023-08-31 15:00:00,258.545,259.480,258.460,258.904521,4658465.0,TSLA
3102,2023-08-31 15:00:00,59.955,60.000,59.940,60.017765,942197.0,KO
3102,2023-08-31 15:00:00,246.070,246.155,245.590,245.920134,233902.0,V

#### Read the merged CSV file into a pandas DataFrame.
#### Extract the hour from the "date" column.
#### Map the extracted hour to the corresponding value for the "day" column.
#### Save the modified DataFrame back to the same CSV file.

In [26]:
import pandas as pd

merged_file_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\merged_data.csv'

# Read the merged CSV file into a pandas DataFrame
df = pd.read_csv(merged_file_path, parse_dates=['date'])
# Set the index of the DataFrame to the "index" column
df.set_index('index', inplace=True)

# Extract the hour from the "date" column and map it to the corresponding value for the "day" column
df['day'] = df['date'].dt.hour - 9

# Save the modified DataFrame back to the same CSV file
df.to_csv(merged_file_path, index=False)

print(f"Added 'day' column to {merged_file_path}!")

Added 'day' column to C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\merged_data.csv!

In [27]:
df

,date,open,high,low,close,volume,tic,day
index,,,,,,,,
0,2021-11-24 14:00:00,159.380,159.703,158.862,159.233753,3513469.0,AAPL,5
0,2021-11-24 14:00:00,47.758,47.831,47.607,47.932297,686904.0,PFE,5
0,2021-11-24 14:00:00,38.575,38.598,38.350,38.388720,295661.0,MO,5
0,2021-11-24 14:00:00,340.290,341.370,339.000,339.816517,695874.0,META,5
0,2021-11-24 14:00:00,141.959,142.221,141.802,142.102489,230089.0,PG,5
...,...,...,...,...,...,...,...,...
3102,2023-08-31 15:00:00,154.560,154.670,154.450,154.635033,220515.0,PG,6
3102,2023-08-31 15:00:00,96.320,96.490,96.000,96.432804,145544.0,PM,6
3102,2023-08-31 15:00:00,258.545,259.480,258.460,258.904521,4658465.0,TSLA,6
3102,2023-08-31 15:00:00,59.955,60.000,59.940,60.017765,942197.0,KO,6
3102,2023-08-31 15:00:00,246.070,246.155,245.590,245.920134,233902.0,V,6

#### Add technical indicators

In [28]:
from finrl.meta.preprocessor.preprocessors import FeatureEngineer
from finrl.config import INDICATORS

fe = FeatureEngineer(use_technical_indicator=True,
                     tech_indicator_list = INDICATORS,
                     use_vix=False,
                     use_turbulence=False,
                     user_defined_feature = False)

processed = fe.preprocess_data(df)

with_TI_file_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_with_TI_file_path.csv'
# Sort the DataFrame by the 'date' column
processed = processed.sort_values(by='date')

# Create a mapping of unique dates to their corresponding index
date_mapping = {date: idx for idx, date in enumerate(processed['date'].unique())}

# Map the 'date' column to the date_mapping to get the new index
processed['index'] = processed['date'].map(date_mapping)

# Set the new index for the DataFrame
processed.set_index('index', inplace=True, drop=True)
# Save the modified DataFrame back to the same CSV file
processed.to_csv(with_TI_file_path, index=True)

Successfully added technical indicators

In [29]:
processed

,date,open,high,low,close,volume,tic,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma
index,,,,,,,,,,,,,,,,
0,2021-11-24 14:00:00,159.380,159.703,158.862,159.233753,3513469.0,AAPL,5,0.000000,159.354924,158.980039,0.000000,66.666667,100.000000,159.233753,159.233753
0,2021-11-24 14:00:00,200.275,200.447,199.045,199.784352,633438.0,V,5,0.000000,159.354924,158.980039,0.000000,66.666667,100.000000,199.784352,199.784352
0,2021-11-24 14:00:00,115.857,116.068,115.399,115.597929,212791.0,TSM,5,0.000000,159.354924,158.980039,0.000000,66.666667,100.000000,115.597929,115.597929
0,2021-11-24 14:00:00,375.023,376.450,370.563,373.488099,2501580.0,TSLA,5,0.000000,159.354924,158.980039,0.000000,66.666667,100.000000,373.488099,373.488099
0,2021-11-24 14:00:00,16.599,16.628,16.523,16.555881,2472015.0,T,5,0.000000,159.354924,158.980039,0.000000,66.666667,100.000000,16.555881,16.555881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3102,2023-08-31 15:00:00,147.220,147.350,147.020,147.108787,190191.0,ABBV,6,0.086125,148.722541,146.743531,43.886203,-61.200572,1.038597,147.564281,147.672017
3102,2023-08-31 15:00:00,188.500,189.060,188.495,188.865471,2997398.0,AAPL,6,2.132434,190.465503,182.390773,77.108725,94.728496,64.459904,184.096333,181.050974
3102,2023-08-31 15:00:00,93.880,93.995,93.790,93.899219,282205.0,TSM,6,0.013774,95.791165,93.501833,50.528099,-37.819240,3.483295,94.301399,93.680137
3102,2023-08-31 15:00:00,59.955,60.000,59.940,60.017765,942197.0,KO,6,-0.075528,60.606409,60.066700,39.547512,-234.859680,19.689448,60.388021,60.357206
3102,2023-08-31 15:00:00,246.070,246.155,245.590,245.920134,233902.0,V,6,0.832640,248.207617,244.174626,59.645252,26.510234,7.555786,245.404548,243.221232

## Add VIX

In [30]:
import pandas as pd
vixy_file_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\Generated Sentiment Data in FinRL\stock_data\VIXY.csv'

vixy = pd.read_csv(vixy_file_path, parse_dates=['Time'])

# Set the index of the VIXY DataFrame to the "Time" column
vixy.set_index('Time', inplace=True)

# Join the processed DataFrame with the VIXY DataFrame on the "date" column and add the "Close" column as the "vix" column
processed = processed.join(vixy['Close'], on='date', how='left')
processed.rename(columns={'Close': 'vix'}, inplace=True)

# Save the modified processed DataFrame back to the original CSV file
processed.to_csv(with_TI_file_path, index=False)

print(f"Added 'vix' column to {with_TI_file_path}!")

Added 'vix' column to C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_with_TI_file_path.csv!

In [32]:
processed

,date,open,high,low,close,volume,tic,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,vix
index,,,,,,,,,,,,,,,,,
0,2021-11-24 14:00:00,159.380,159.703,158.862,159.233753,3513469.0,AAPL,5,0.000000,159.354924,158.980039,0.000000,66.666667,100.000000,159.233753,159.233753,85.622
0,2021-11-24 14:00:00,200.275,200.447,199.045,199.784352,633438.0,V,5,0.000000,159.354924,158.980039,0.000000,66.666667,100.000000,199.784352,199.784352,85.622
0,2021-11-24 14:00:00,115.857,116.068,115.399,115.597929,212791.0,TSM,5,0.000000,159.354924,158.980039,0.000000,66.666667,100.000000,115.597929,115.597929,85.622
0,2021-11-24 14:00:00,375.023,376.450,370.563,373.488099,2501580.0,TSLA,5,0.000000,159.354924,158.980039,0.000000,66.666667,100.000000,373.488099,373.488099,85.622
0,2021-11-24 14:00:00,16.599,16.628,16.523,16.555881,2472015.0,T,5,0.000000,159.354924,158.980039,0.000000,66.666667,100.000000,16.555881,16.555881,85.622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3102,2023-08-31 15:00:00,147.220,147.350,147.020,147.108787,190191.0,ABBV,6,0.086125,148.722541,146.743531,43.886203,-61.200572,1.038597,147.564281,147.672017,21.480
3102,2023-08-31 15:00:00,188.500,189.060,188.495,188.865471,2997398.0,AAPL,6,2.132434,190.465503,182.390773,77.108725,94.728496,64.459904,184.096333,181.050974,21.480
3102,2023-08-31 15:00:00,93.880,93.995,93.790,93.899219,282205.0,TSM,6,0.013774,95.791165,93.501833,50.528099,-37.819240,3.483295,94.301399,93.680137,21.480
3102,2023-08-31 15:00:00,59.955,60.000,59.940,60.017765,942197.0,KO,6,-0.075528,60.606409,60.066700,39.547512,-234.859680,19.689448,60.388021,60.357206,21.480
3102,2023-08-31 15:00:00,246.070,246.155,245.590,245.920134,233902.0,V,6,0.832640,248.207617,244.174626,59.645252,26.510234,7.555786,245.404548,243.221232,21.480

# Add Sentiment

In [33]:
import pandas as pd

sentiment_file_path = r"C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\sentiment_data_FMP\all_stocks_sentiment.csv"

sentiment = pd.read_csv(sentiment_file_path, parse_dates=['date'])

# Merge the two DataFrames using the "date" and "tic" columns as keys
merged_df = pd.merge(processed, sentiment, on=['date', 'tic'], how='left')

# Save the merged DataFrame back to the processed CSV file
vixy_file_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\Generated Sentiment Data in FinRL\stock_data\VIXY.csv'

output_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_finance_w_sentiment.csv'
merged_df.to_csv(output_path, index=False)

print(f"Merged sentiment data into {output_path}!")

Merged sentiment data into C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_finance_w_sentiment.csv!

In [34]:
merged_df

,date,open,high,low,close,volume,tic,day,macd,boll_ub,...,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,vix,stocktwitsPosts,stocktwitsLikes,stocktwitsImpressions,stocktwitsSentiment
0,2021-11-24 14:00:00,159.380,159.703,158.862,159.233753,3513469.0,AAPL,5,0.000000,159.354924,...,0.000000,66.666667,100.000000,159.233753,159.233753,85.622,102.0,132.0,361612.0,0.532856
1,2021-11-24 14:00:00,200.275,200.447,199.045,199.784352,633438.0,V,5,0.000000,159.354924,...,0.000000,66.666667,100.000000,199.784352,199.784352,85.622,8.0,11.0,15652.0,0.349343
2,2021-11-24 14:00:00,115.857,116.068,115.399,115.597929,212791.0,TSM,5,0.000000,159.354924,...,0.000000,66.666667,100.000000,115.597929,115.597929,85.622,3.0,2.0,8181.0,0.363286
3,2021-11-24 14:00:00,375.023,376.450,370.563,373.488099,2501580.0,TSLA,5,0.000000,159.354924,...,0.000000,66.666667,100.000000,373.488099,373.488099,85.622,281.0,222.0,91896.0,0.533964
4,2021-11-24 14:00:00,16.599,16.628,16.523,16.555881,2472015.0,T,5,0.000000,159.354924,...,0.000000,66.666667,100.000000,16.555881,16.555881,85.622,3.0,0.0,16496.0,0.409579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93085,2023-08-31 15:00:00,147.220,147.350,147.020,147.108787,190191.0,ABBV,6,0.086125,148.722541,...,43.886203,-61.200572,1.038597,147.564281,147.672017,21.480,1.0,0.0,30.0,0.675000
93086,2023-08-31 15:00:00,188.500,189.060,188.495,188.865471,2997398.0,AAPL,6,2.132434,190.465503,...,77.108725,94.728496,64.459904,184.096333,181.050974,21.480,48.0,36.0,330609.0,0.573900
93087,2023-08-31 15:00:00,93.880,93.995,93.790,93.899219,282205.0,TSM,6,0.013774,95.791165,...,50.528099,-37.819240,3.483295,94.301399,93.680137,21.480,3.0,0.0,842.0,0.677000
93088,2023-08-31 15:00:00,59.955,60.000,59.940,60.017765,942197.0,KO,6,-0.075528,60.606409,...,39.547512,-234.859680,19.689448,60.388021,60.357206,21.480,1.0,0.0,43.0,0.500000
93089,2023-08-31 15:00:00,246.070,246.155,245.590,245.920134,233902.0,V,6,0.832640,248.207617,...,59.645252,26.510234,7.555786,245.404548,243.221232,21.480,4.0,0.0,32958.0,0.562500

# Add Random variable

In [37]:
 # Add a new column 'random' with random values between 0 and 1
merged_df['random'] = np.random.rand(len(merged_df))
output_path = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_finance_w_sentiment.csv'
merged_df.to_csv(output_path, index=False)

print(f"Random added into {output_path}!")

Random added into C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_finance_w_sentiment.csv!

In [38]:
merged_df

,date,open,high,low,close,volume,tic,day,macd,boll_ub,...,cci_30,dx_30,close_30_sma,close_60_sma,vix,stocktwitsPosts,stocktwitsLikes,stocktwitsImpressions,stocktwitsSentiment,random
0,2021-11-24 14:00:00,159.380,159.703,158.862,159.233753,3513469.0,AAPL,5,0.000000,159.354924,...,66.666667,100.000000,159.233753,159.233753,85.622,102.0,132.0,361612.0,0.532856,0.535379
1,2021-11-24 14:00:00,200.275,200.447,199.045,199.784352,633438.0,V,5,0.000000,159.354924,...,66.666667,100.000000,199.784352,199.784352,85.622,8.0,11.0,15652.0,0.349343,0.499044
2,2021-11-24 14:00:00,115.857,116.068,115.399,115.597929,212791.0,TSM,5,0.000000,159.354924,...,66.666667,100.000000,115.597929,115.597929,85.622,3.0,2.0,8181.0,0.363286,0.065553
3,2021-11-24 14:00:00,375.023,376.450,370.563,373.488099,2501580.0,TSLA,5,0.000000,159.354924,...,66.666667,100.000000,373.488099,373.488099,85.622,281.0,222.0,91896.0,0.533964,0.122309
4,2021-11-24 14:00:00,16.599,16.628,16.523,16.555881,2472015.0,T,5,0.000000,159.354924,...,66.666667,100.000000,16.555881,16.555881,85.622,3.0,0.0,16496.0,0.409579,0.854403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93085,2023-08-31 15:00:00,147.220,147.350,147.020,147.108787,190191.0,ABBV,6,0.086125,148.722541,...,-61.200572,1.038597,147.564281,147.672017,21.480,1.0,0.0,30.0,0.675000,0.290925
93086,2023-08-31 15:00:00,188.500,189.060,188.495,188.865471,2997398.0,AAPL,6,2.132434,190.465503,...,94.728496,64.459904,184.096333,181.050974,21.480,48.0,36.0,330609.0,0.573900,0.803638
93087,2023-08-31 15:00:00,93.880,93.995,93.790,93.899219,282205.0,TSM,6,0.013774,95.791165,...,-37.819240,3.483295,94.301399,93.680137,21.480,3.0,0.0,842.0,0.677000,0.732142
93088,2023-08-31 15:00:00,59.955,60.000,59.940,60.017765,942197.0,KO,6,-0.075528,60.606409,...,-234.859680,19.689448,60.388021,60.357206,21.480,1.0,0.0,43.0,0.500000,0.208344
93089,2023-08-31 15:00:00,246.070,246.155,245.590,245.920134,233902.0,V,6,0.832640,248.207617,...,26.510234,7.555786,245.404548,243.221232,21.480,4.0,0.0,32958.0,0.562500,0.835826

In [39]:
int(.8 *len(merged_df))

74472

In [41]:
len(merged_df["tic"].unique())

30

In [42]:
#function to find the number closest from https://www.geeksforgeeks.org/find-number-closest-n-divisible-m/
# to n and divisible by m
def closestNumber(n, m) :
    # Find the quotient
    q = int(n / m)
     
    # 1st possible closest number
    n1 = m * q
     
    # 2nd possible closest number
    if((n * m) > 0) :
        n2 = (m * (q + 1))
    else :
        n2 = (m * (q - 1))
     
    # if true, then n1 is the required closest number
    if (abs(n - n1) < abs(n - n2)) :
        return n1
     
    # else n2 is the required closest number
    return n2

In [43]:
closestNumber(int(.8 *len(merged_df)), len(merged_df["tic"].unique()))

74460

In [45]:
train_set, test_set= np.split(merged_df, [closestNumber(int(.8 *len(merged_df)), len(merged_df["tic"].unique()))])

In [46]:
train_set

,date,open,high,low,close,volume,tic,day,macd,boll_ub,...,cci_30,dx_30,close_30_sma,close_60_sma,vix,stocktwitsPosts,stocktwitsLikes,stocktwitsImpressions,stocktwitsSentiment,random
0,2021-11-24 14:00:00,159.380,159.703,158.862,159.233753,3513469.0,AAPL,5,0.000000,159.354924,...,66.666667,100.000000,159.233753,159.233753,85.622,102.000000,132.0,361612.000000,0.532856,0.535379
1,2021-11-24 14:00:00,200.275,200.447,199.045,199.784352,633438.0,V,5,0.000000,159.354924,...,66.666667,100.000000,199.784352,199.784352,85.622,8.000000,11.0,15652.000000,0.349343,0.499044
2,2021-11-24 14:00:00,115.857,116.068,115.399,115.597929,212791.0,TSM,5,0.000000,159.354924,...,66.666667,100.000000,115.597929,115.597929,85.622,3.000000,2.0,8181.000000,0.363286,0.065553
3,2021-11-24 14:00:00,375.023,376.450,370.563,373.488099,2501580.0,TSLA,5,0.000000,159.354924,...,66.666667,100.000000,373.488099,373.488099,85.622,281.000000,222.0,91896.000000,0.533964,0.122309
4,2021-11-24 14:00:00,16.599,16.628,16.523,16.555881,2472015.0,T,5,0.000000,159.354924,...,66.666667,100.000000,16.555881,16.555881,85.622,3.000000,0.0,16496.000000,0.409579,0.854403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74455,2023-04-26 10:00:00,105.700,106.350,104.960,105.231572,5270481.0,GOOGL,1,-0.045736,106.300977,...,24.201549,24.630657,105.396618,105.551911,42.076,26.000000,49.0,16771.000000,0.537000,0.480648
74456,2023-04-26 10:00:00,333.562,334.399,331.063,332.036054,107550.0,GS,1,0.172301,340.460147,...,-81.684339,30.184139,335.192930,332.631294,42.076,1.000000,0.0,52655.000000,0.500000,0.872529
74457,2023-04-26 10:00:00,136.310,136.313,134.270,134.535814,973276.0,JPM,1,-0.729863,141.400204,...,-297.904638,61.316346,138.927547,138.493464,42.076,6.000000,8.0,55498.000000,0.562700,0.672615
74458,2023-04-26 10:00:00,63.061,63.226,62.975,63.098375,604614.0,KO,1,-0.024870,63.893948,...,-136.309812,0.791032,63.424252,63.126427,42.076,1.000000,0.0,10196.000000,0.546800,0.016282
74459,2023-04-26 10:00:00,46.272,46.319,45.792,45.888044,1627498.0,C,1,-0.443191,48.637819,...,-242.508121,61.946063,47.727124,48.059584,42.076,2.555556,0.0,6209.666667,0.542567,0.669718

In [47]:
test_set

,date,open,high,low,close,volume,tic,day,macd,boll_ub,...,cci_30,dx_30,close_30_sma,close_60_sma,vix,stocktwitsPosts,stocktwitsLikes,stocktwitsImpressions,stocktwitsSentiment,random
74460,2023-04-26 11:00:00,270.331,272.642,270.267,271.671230,2756034.0,NVDA,2,-0.956356,273.329888,...,36.897551,13.194210,270.038832,270.995445,40.70,19.0,18.000,68740.00,0.566800,0.089279
74461,2023-04-26 11:00:00,294.862,295.918,294.189,295.822886,2932743.0,MSFT,2,1.222176,293.036669,...,222.807685,40.388675,283.030714,284.566786,40.70,159.0,104.000,1351310.00,0.536400,0.131351
74462,2023-04-26 11:00:00,60.432,60.836,60.236,60.296483,1215421.0,MU,2,-0.421848,61.519807,...,24.315353,17.975038,60.089474,60.913769,40.70,NaN,NaN,NaN,NaN,0.476786
74463,2023-04-26 11:00:00,321.470,323.390,321.470,323.499332,148410.0,NFLX,2,-1.241977,332.204165,...,-78.627099,11.271844,325.857282,328.575714,40.70,5.0,1.000,57.00,0.489700,0.534091
74464,2023-04-26 11:00:00,123.596,124.040,123.549,123.630711,153010.0,NKE,2,-0.222643,125.922390,...,-55.169608,24.469772,124.237457,124.647469,40.70,1.0,4.375,1094.75,0.569375,0.408415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93085,2023-08-31 15:00:00,147.220,147.350,147.020,147.108787,190191.0,ABBV,6,0.086125,148.722541,...,-61.200572,1.038597,147.564281,147.672017,21.48,1.0,0.000,30.00,0.675000,0.290925
93086,2023-08-31 15:00:00,188.500,189.060,188.495,188.865471,2997398.0,AAPL,6,2.132434,190.465503,...,94.728496,64.459904,184.096333,181.050974,21.48,48.0,36.000,330609.00,0.573900,0.803638
93087,2023-08-31 15:00:00,93.880,93.995,93.790,93.899219,282205.0,TSM,6,0.013774,95.791165,...,-37.819240,3.483295,94.301399,93.680137,21.48,3.0,0.000,842.00,0.677000,0.732142
93088,2023-08-31 15:00:00,59.955,60.000,59.940,60.017765,942197.0,KO,6,-0.075528,60.606409,...,-234.859680,19.689448,60.388021,60.357206,21.48,1.0,0.000,43.00,0.500000,0.208344
93089,2023-08-31 15:00:00,246.070,246.155,245.590,245.920134,233902.0,V,6,0.832640,248.207617,...,26.510234,7.555786,245.404548,243.221232,21.48,4.0,0.000,32958.00,0.562500,0.835826

In [48]:
output_path_train = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_training_data_complete.csv'
output_path_test = r'C:\Users\potap\FinARL\automatic-stock-trading-applied-reinforcement-learning-sommer-term-2023\SLURM\stock_data\smoothed_testing_data_complete.csv'

train_set.to_csv(output_path_train, index=False)
test_set.to_csv(output_path_test, index=False)